body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
img{
  width: 186px;
  height: 50px;
}
.list{
  background: #FFF;
  display: inline-flex;
  height: 60px;
  padding: 0 671px 0 135px;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
}
.logo{
  background: #FFF ;
  display: flex;
  width: 1440px;
  padding: 25px 1119px 15px 135px;
  align-items: center;
}
.panel{
  display: inline-flex;
  padding: 0 735px 220px 135px;
  background: #FEC524;
  flex-direction: column;
  align-items: flex-start;
  height: 50vh;
  width: 80vw;

}
.slider-item-content{
  width: 570px;
  height: 230px;
}
.slider-item-content>h2{
  flex-shrink: 0;
  color: #FFF;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.slider-item-content>p{
  flex-shrink: 0;
  color: #0E2F4B;
  margin: 0;

}
.container{
  width: 1200px;
  height: 212px;
  flex-shrink: 0;
  margin-top: 20px;
}
.container>label>input{
  display: inline-flex;
  height: 72px;
  padding: 0 230px 0 30px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
}

.calc>img{
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 0;
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
}
.calc{
  width: 270px;
  height: 80px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}
.calc>p{
  padding-left: 25px;
}
.calc-container{
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  bottom: -33vh
;
}
.services-block{
  width: 1440px;
  height: 800px;
  background: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
}
.col-xl-4{
  width: 400px;
  height: 630px;
  color: #0E2F4B;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.col-xl-4>h2{
  margin-left: 135px;
}
.col-xl-4>p{
  margin-left: 135px;
  padding-right: 20px;
}
.box-container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-container1>.box1>h3>img{
  width: 10px;
  height: 10px;
}
.box-container1>.box1>h3{
  margin: 0;
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.box-container1>.box1>h4{
  margin-bottom: 5px;
  color: #0E2F4B;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.box1{
  margin: 45px;
}
.box-container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-container2>.box2>h3>img{
  width: 10px;
  height: 10px;
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
}
.box-container2>.box2>h3{
  margin: 0;
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.box-container2>.box2>h4{
  margin-bottom: 5px;
  color: #0E2F4B;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.box2{
  margin: 45px 45px 45px 200px;
}
.container>label>input{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -100px;
}
.export-code-block{
  width: 120vw;
  height: 100vh;
  background: #042C4B;
}
.export-code-block>.col-xl-7>h2{
  color: #F8F8F8;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-left: 135px;
}
.export-code-block>.col-xl-7>p{
  color: #99A2AA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 135px;
}
.export-code-block>.col-xl-7>button{
  display: flex;
  width: 305px;
  height: 80px;
  padding: 28px 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FDC13D;
  margin-left: 150px;
}
.col-xl-7{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  justify-content: space-between;
  align-items: flex-start;
}

.services-block1{
  width: 120vw;
  height: 50vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.panel1{
  border-radius: 10px;
  background: #FDC13D;
  width: 1000px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 120px;
}
.panel1>h4, p{
  margin: 0 0 5px 50px;
}

.panel1>p>img{
  height: 10px;
  width: 10px;
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
}
.services-block1>h2{
  color: #0E2F4B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.box3{
  display: flex;
  width: 270px;
  height: 270px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.box3>p>img{
  height: 10px;
  width: 10px;
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
}
.box3>h3{
  color: #0E2F4B;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}
.box3>p{
  color: #0E2F4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 5px 5px 0 0;
}
.box-container3{
  display: flex;
  margin-left: 50px;
}
.zip-code-block{
  width: 120vw;
  height: 80vh;
  background: #0E2F4B;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.col-xl-12>h2{
  color: #F8F8F8;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}
.col-xl-12>p{
  color: #99A2AA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 50px 0;
}
.col-xl-12>form>label>input{
  display: flex;
  width: 506px;
  height: 78px;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #E8EBEE;
  background: #FFF;
}
.col-xl-12>form>label>button{
  display: flex;
  width: 249px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #FDC13D;
  margin-left: 10px;
}
.calc1{
  display: flex;
}
.col-xl-12{
  height: 80vh;
  width: 100vw;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle-block{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1>h2{
  color: #0E2F4B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.middle-block {
  display: flex;
  flex-direction: column;
}
.box-container4>p{
  color: #0E2F4B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.container4>div>img{
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin: 0 5px 5px 0;
}
.middle-block>p{
  margin: 0;
}
.container5{
  display: flex;
  flex-direction: column;
}
.container5>p{
  color: #99A2AA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.container4{
  display: flex;
  flex-direction: row;
}
.box-container4>p{
  color: #0E2F4B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.container4>.container5>h4{
  color: #0E2F4B;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.middle-block{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1000px;
}
.news{
  margin-top: 100px;
  width: 1200px;
  display: flex;
  color: #0E2F4B;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
.middle-block1{
  width: 1500px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 50px;
}
.middle-block1>h2{
  color: #0E2F4B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.news1{
  width: 1200px;
  color: #0E2F4B;
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: 60px;
  display: flex;
}
.container6{
  display: flex;
  flex-direction: column;
}
.box-container6{
  height: 100px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box6{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box6>p{
  display: flex;
  width: 251px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  color: #99A2AA;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

}
.vector>h2{
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.branches-block{
  background: #FEC524;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.vector>p:first-child{
  color: #0E2F4B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.image>img{
  width: 37px;
  height: 38px;
}
.vector{
  height: 500px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  justify-content: center;
}
.image1{
  display: flex;
  flex-direction: row;
}
.vector>p{
  margin-left: 0;
}
.vector>h2{
  margin-bottom: 50px;
}
.col-sm>p{
  color: #99A2AA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 5px;
}
.col-sm>p:first-child{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
footer{
  background: #1D2023;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-right: 100px;
  padding-bottom: 159px;
}
.col-sm{
  margin: 50px 130px 0 0;
}
.footer-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: #b3d4fc;
}
