body{
  background-image: url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
  );
  padding: 0;
  margin: 0;
}
h1,p{
  margin-left: 10%;
  background-color: rgba(247, 240, 237, 0.9);
}
p, h1{
  width: 60%;
}
h1{
  font-size: 30px;
  padding-bottom: 20px;
}
img{
  min-width: 100%;
  min-height: 100%;
}

.target, .target1 {
margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
}
.target2 {

  padding: 10px;
}
.targeth {
  padding: 10px;
}
