body{
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
}
.input{
  display: flex;
  flex-direction: column;
}



h1{
  color: red;
}
button{
  margin-top: 16px;
}
