body{
  margin: 0;
  padding: 0;
}
.container{
  background-color: forestgreen;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 40vw;
  height: 50vh;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 3%;
}
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  margin: 15px 0;
}
button{
  width: 7vw;
}
.bottom{
  display: flex;
  justify-content: space-evenly;
}
