body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'left right'

;
}
header{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: header;
  height: 30vh;
}
.left{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: left;
  height: 70vh;
  width: 80vw;
}
.right{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: right;
  height: 70vh;
  width: 20vw;
}
header, article{
  background-color: grey;
  border: black 1px solid;
}
